* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}


body {
    font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

body > * {
    padding: 1rem 0.5rem;
    margin: 0 auto;
    max-width: var(--max-width);
    width: auto;
}


/* Clases que empiecen super */
[class^="super-"] {
    max-width: var(--max-width);
    width: auto;
    margin: 0 auto;
    margin-bottom: 2rem;
}

[class*="flex"] {
    display: flex;
}

[class*="row-wrap"] {
    flex-flow: row wrap;
}

[class*="row-nowrap"] {
    flex-flow: row nowrap;
}

[class*="row-wrap-reverse"] {
    flex-flow: row wrap-reverse;
}

[class*="column-wrap"] {
    flex-flow: column wrap;
}

[class*="column-nowrap"] {
    flex-flow: column nowrap;
}

[class*="column-wrap-reverse"] {
    flex-flow: column wrap-reverse;
}


[class*="grid-auto-fit-64px"] {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-size-sm), 1fr));
    gap: var(--spacing-sm);
}


[class*="grid-auto-fit-128px"] {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-size-sx), 1fr));
    gap: var(--spacing-md);
}

[class*="grid-auto-fit-256px"] {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-size-md), 1fr));
    gap: var(--spacing-lg);
}

[class*="grid-auto-fit-250px"] {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-size-lg), 1fr));
    gap: var(--spacing-lg);
}


[class*="grid-auto-fit-320px"] {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-size-xl), 1fr));
    gap: var(--spacing-lg);

}

@keyframes float-a {
    0% {
        transform: translate(0px, 0px);
    }

    12.5% {
        transform: translate(3px, -3px);
    }

    25% {
        transform: translate(6px, 0px);
    }

    37.5% {
        transform: translate(3px, 3px);
    }

    50% {
        transform: translate(0px, 6px);
    }

    62.5% {
        transform: translate(-3px, 3px);
    }

    75% {
        transform: translate(-6px, 0px);
    }

    87.5% {
        transform: translate(-3px, -3px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.floating-image-a {
    animation: float-a 16s linear infinite;
}

@keyframes float-b {
    0% {
        transform: translate(0px, 0px);
    }

    12.5% {
        transform: translate(3px, -3px);
    }

    25% {
        transform: translate(6px, 0px);
    }

    37.5% {
        transform: translate(3px, 3px);
    }

    50% {
        transform: translate(0px, 6px);
    }

    62.5% {
        transform: translate(-3px, 3px);
    }

    75% {
        transform: translate(-6px, 0px);
    }

    87.5% {
        transform: translate(-3px, -3px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.floating-image-b {
    animation: float-b 24s ease-in-out infinite;
}