/* Estilo base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

/* Navegación */
header {
  background-color: #333;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #f39c12;
}

/* Contenido principal */
#main-content {
  padding: 20px;
}

/* Estilos específicos de las páginas */
h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

ul li {
  margin: 10px 0;
}

p {
  font-size: 1.2em;
}

/* Formulario de perfil */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="text"], input[type="email"], input[type="password"] {
  padding: 10px;
  font-size: 1em;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #f39c12;
  border: none;
  color: white;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e67e22;
}

/* Estilos de error */
.error {
  color: red;
  font-weight: bold;
}
